html, body {
      font-family: Arial, sans-serif;
      margin: 8px 10px;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 16px); /* Prend toute la hauteur de la fenêtre moins les marges */
      overflow: hidden; /* Empêche le défilement global */
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /*font-size: 24px;
      font-weight: bold;*/
      margin-bottom: 10px;
    }
    header h3 {
      flex: 1;
    }
    #dispo {
    margin-left: 10px;
    }
    main {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    .left-panel {
      width: 65%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .right-panel {
      width: 30%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 2px solid #264a7a;
      border-radius: 10px;
      border-bottom-right-radius: 60px;
      padding: 15px;
      background-color: white;
      position: relative;
    }
    .right-panel img {
      position: absolute;
      right: 10px;
      bottom: 10px;
      height: 90px;
      width: 90px;
    }
    h2, h3 {
      /*font-size: 22px;*/
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #histitle {
      flex:1;
    }
    #voiture{
      display: none;
    }
    #printhist{
      margin-right: 5px;
    }
    #dispo,
    button {
      background-color: #1a3a75; /* Bleu foncé unifié */
      color: white;
      padding: 10px;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 1.2;
    }
    .btnsections {
      height: 60px;
      width: 160px;
      font-size: 16px;
    }
    button:hover {
      opacity: 0.9;
    }
    .prochain {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
      border: 2px solid #264a7a;
      border-radius: 10px;
      padding: 15px;
    }
    section {
      border: 2px solid #264a7a;
      border-radius: 10px;
      padding: 15px;
      flex: 1;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      overflow: hidden;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px 8px;
      text-align: left;
    }

    th {
      background-color: #f57c2c; /* Couleur oranger pour entêtes */
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
    .hidden {
      display: none;
    }
    tr:nth-child(even) td {
      background-color: #f4f7fb;
    }
    .prochain table td:nth-child(2),
    #history table td:nth-child(n+5),
    #plan table td:nth-child(4),
    #table-kilometrages td:nth-child(3) {
      text-align: right;
    }
    #btn-add-km {
      cursor: pointer;
    }
    #btn-km {
      display: none;
    }
    #btn-km i {
      cursor: pointer;
    }
    h2 i {
      margin-left: auto;
      font-wight: bold;
    }
